@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(190, 31, 31);
  color: black;
  text-align: center;
  margin-top: 100px;
}

#view {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  text-align: center;

  #board-card {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

  #pin-card {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
}
